<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Adminloginservlet</servlet-name>
  	<display-name>Adminloginservlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.myfundingapp.controller.Adminloginservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Donorloginservlet</servlet-name>
  	<display-name>Donorloginservlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.myfundingapp.controller.Donorloginservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Donorregisterservlet</servlet-name>
  	<display-name>Donorregisterservlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.myfundingapp.controller.Donorregisterservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Requestservlet</servlet-name>
  	<display-name>Requestservlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.myfundingapp.controller.Requestservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Requesttypeservlet</servlet-name>
  	<display-name>Requesttypeservlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.myfundingapp.controller.Requesttypeservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Transactionservlet</servlet-name>
  	<display-name>Transactionservlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.myfundingapp.controller.Transactionservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>request</servlet-name>
  	<display-name>request</display-name>
  	<description></description>
  	<servlet-class>com.revature.myfundingapp.controller.request</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DonorListservlet</servlet-name>
  	<display-name>DonorListservlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.myfundingapp.controller.DonorListservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Requestupdateservlet</servlet-name>
  	<display-name>Requestupdateservlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.myfundingapp.controller.Requestupdateservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RequestlistServlet</servlet-name>
  	<display-name>RequestlistServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.myfundingapp.controller.RequestlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Adminloginservlet</servlet-name>
  	<url-pattern>/Adminloginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Donorloginservlet</servlet-name>
  	<url-pattern>/Donorloginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Donorregisterservlet</servlet-name>
  	<url-pattern>/Donorregisterservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Requestservlet</servlet-name>
  	<url-pattern>/Requestservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Requesttypeservlet</servlet-name>
  	<url-pattern>/Requesttypeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Transactionservlet</servlet-name>
  	<url-pattern>/Transactionservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>request</servlet-name>
  	<url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DonorListservlet</servlet-name>
  	<url-pattern>/DonorListservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Requestupdateservlet</servlet-name>
  	<url-pattern>/Requestupdateservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestlistServlet</servlet-name>
  	<url-pattern>/RequestlistServlet</url-pattern>
  </servlet-mapping>
</web-app>
